[2019-01-12 21:58] roja opened #1 "Documentation for use in Nuxt"
Have attempted to use wildcard in Nuxt but am stumbling into an assert

    validateArgs@109:14

The library seems to think that it's being run within the browser prehaps?

Heres how wildcard is initalised in the nuxt server (using express)

     app.all('/wildcard/*' , async (req, res, next) => {
        const {body, statusCode} = await getApiResponse(req);
        res.status(statusCode);

[2019-01-12 23:10] roja commented on #1
I did some further investigation and the issue is that

    global.__globalWildcardApi

isn't available from within the components. I have tried to inject it into the context object passed through to the components however it doesn't seem to be available from within plugins either (the most common mechanic to inject things into the context object.)

[2019-01-13 13:21] brillout commented on #1
Does the component code and the express code run in the same Node.js process?

[2019-01-13 13:50] brillout commented on #1
By setting `global.hello = 42` in the express code, does running `console.log(global.hello)` in the component code print `42`?

[2019-01-13 14:01] brillout commented on #1
Is the code online somewhere? I can have a look myself

[2019-01-13 14:11] roja commented on #1
I have raised a question with the nuxt guys about access to the global object.

[2019-01-13 14:13] roja commented on #1
Sorry I don’t have the code online but it’s trivial to reproduce. It’s a starter nuxt app using express as the server. I then tried to add wildcard to it.

[2019-01-13 15:12] brillout commented on #1
I just scaffolded a Nuxt app and added your `meaningOfLife` endpoint and it works.

`await endpoints.meaningOfLife.bind(req)()` successfully returns the `new Date()` value when run on the server and `await endpoints.meaningOfLife()` returns the value when run in the browser.

What does `console.log(global.__globalWildcardApi)` print when run before `await endpoints.meaningOfLife.bind(req)()`? In m

[2019-01-13 16:06] roja commented on #1
Oh, how odd.

Let me get the code online (no trust issue, just didn’t have it online)

Thanks for investigating, how irritating if I have wasted your time with something trivial! Will try and get back ASAP.

[2019-01-13 17:12] roja commented on #1
Could you share your working code also?

[2019-01-13 19:37] roja commented on #1
Here is the code:

https://github.com/roja/nuxt-wildcard

Still seems to be broken but it's likely because I am missing something obvious!

Cloning that repo then running

    yarn install
    yarn dev

and navigating to

    http://127.0.0.1:3000/

gives me the `"Wrong SSR usage."` error

[2019-01-13 21:06] brillout commented on #1
Weird, when I run your code I don't get `Wrong SSR usage`.

I do get an error though: `Endpoint meaningOfLife doesn't exist.` which I fixed by adding `require('./endpoints/first_endpoint');` to your server entry `./server/index.js`. (Otherwise your module defining the endpoint will never load.)

Once I did that, everything worked.

No probs, everyone makes trivial mistakes^^.

[2019-01-13 21:06] roja commented on #1
Solved it!

I never require the endpoints which somehow results in that assert being thrown. Not entirely sure why but by requiring the endpoints the problem goes away.

A simple change in the assert code should put people on the right track!

[2019-01-13 21:08] brillout opened #2 "Bring user to attention to not forget to load the module defining the endpoints"
Happened in #1 and it also happened to me to forget to load the module that defines the endpoints.

[2019-01-13 21:12] brillout commented on #1
See my comment I posted at the same time than you^^.

Yea that's weird that you got another error message than me.

I'm closing this ticket as I can't reproduce the wrong error message, if that's ok with you.

Let me know what you think of Wildcard once you used it a while. Would be awesome:)

You opened the first issue btw!

[2019-01-13 21:12] #1 closed

[2019-01-13 22:53] roja commented on #1
It may help someone in the future that the inclusion of:

    next()

in the

     app.all('/wildcard/*' , async (req, res, next) => {
        const {body, statusCode} = await getApiResponse(req);
        res.status(statusCode);
        res.send(body);
        next();
      });

also caused issues. simply removing it fixed them.

[2019-03-05 14:35] lostpebble opened #3 "Swallowing of errors"
Hi there,

Loving the simplicity of this library. I've just got a couple issues I'd like some clarification on.

How do I catch errors that occur inside my async function for my endpoint.

For example:

[code]

These errors are being swallowed and handled by Wildcard API, and the only result I get back from my request is:

[code]

I would like to wrap my entire API in my own error handling, as I r

[2019-03-05 14:46] lostpebble opened #4 "Sending JSON payload to API in POST body"
I have noticed that when I call my endpoints, like so:

[code]

I'm getting a request being sent out that looks like this:

[code]

This indicates that the JSON is being serialised and set in the request url as a query string. While this is fine for small payloads, when things get large things might not work out too well (https://stackoverflow.com/questions/32763165/node-js-http-get-url-length-lim

[2019-03-05 15:09] lostpebble commented on #3
To add to this, I created a function which wraps each API function to catch any errors and return my structured response, but this is not the best because of a couple things:

* I need to remember to wrap every single method
* I can't seem to find a way to change the response status code

On the second point there, how would we usually do that? Is there a way to set a custom status code on a wildc

[2019-03-05 20:29] brillout commented on #4
Good point, I'll fix this.

(The idea of using the URL instead of HTTP payload is to make debugging easier: It's easier to copy paste and modify an URL than to copy paste and modify an HTTP payload.)

I'll make use of HTTP payload for bigger payloads. For smaller payloads I guess we can keep using the URL.

[2019-03-05 21:40] brillout commented on #3
Any error thrown on the server shouldn't be propagated to the browser as this would be a security issue.

While not shown in the browser, errors are still shown in Node.js and outputted to your Node.js process' stderr. Basically: errors are swallowed from the perspective of the browser but aren't swallowed from the perspective of Node.js.

What's the reason you want to have access to errors in the

[2019-03-05 21:46] brillout commented on #3
Btw thanks for opening the tickets! :-) I'm glad that you like the simplicity of Wildcard and I hope you still like it after my reply :-)

[2019-03-05 23:26] lostpebble commented on #3
@brillout the reason I want to catch the errors is that I catch all errors for all my APIs, and I return a specific structure to my client, like so:

[code]

I agree with you about not propagating server error messages to the client. In this case I would just return a very generic message like `An error occurred`.

But there is now no way for me to structure unknown thrown error responses to my cl

[2019-03-05 23:30] lostpebble commented on #4
Okay great. I do get what you mean, but yea maybe do a check on the serialised JSON length, and put it in the POST body if its larger than 200 or so (even that's quite high for a url... might make server logs quite ugly).

[2019-03-07 20:25] brillout commented on #3
Ok makes sense, I'll look into this.

[2019-03-09 22:50] brillout commented on #3
Would the following work out for you?

[code]

[2019-03-10 09:54] lostpebble commented on #3
Yea I guess that's one way of doing it - would definitely be able to intercept and do things there. Would I be getting the original error instance there? Would `endpointResult` be the actual thrown error inside my endpoint?

The reason I ask is because I have some internal tasks that might purposefully throw errors with certain structures (as a way of deep escape hatching) - and I would then like

[2019-03-10 14:49] brillout commented on #3
Yes that's the plan.

Also, `getApiResponse` will return the same object than the `this` object in your endpoint functions and in `onNewEndpointResult`. So you'll be able to access `this.type` in your Koa integration. E.g.:

[code]

[2019-03-10 15:07] lostpebble commented on #3
Okay, sounds good. I think that'll be a pretty great solution!

[2019-03-10 15:30] brillout commented on #3
Yes I like it as well, thanks a lot for the brainstorming!

[2019-03-11 21:57] brillout commented on #3
Done and published as `wildcard-api@0.1.2` (https://www.npmjs.com/package/wildcard-api).

Check out https://github.com/brillout/wildcard-api/blob/master/test/tests/onNewEndpointResult.js to see how to use `onNewEndpointResult`. See the args `endpointResut` and `endpointError`. Also add `ctx.type = apiResponse.type;` to your koa integration.

Let me know if this works for you.

Keeping this ticket

[2019-03-12 10:03] lostpebble commented on #3
Great! Thanks, will be checking this out today and report back.

[2019-03-22 18:27] brillout commented on #4
Have you encountered a problem with Wildcard? Let me know if there is anything that led you away from Wildcard. I'm curious:).

[2019-03-22 18:27] brillout commented on #3
Have you encountered a problem with Wildcard? Let me know if there is anything that led you away from Wildcard. I'm curious:).

[2019-03-23 00:22] lostpebble commented on #3
Hey @brillout . Nope not at all - I've just moved on to other parts of my stack for the time being. I built out a small app when I made this issue and haven't had the opportunity to try out the new error capabilities - but will soon.

Something extra that would be cool that I've been thinking of lately would be some kind of wildcard web socket interface for live client data. But that can be a sepa

[2019-03-24 14:41] brillout commented on #3
Ok:)

Yes, that would be super cool.

If you want we can design and implement this together... We could create a new GitHub organisation and we would both be owner of it. Let me know if that's something you'd be up to. Maybe we can make Wildcard to an exciting adventure :-).

Let me know and then I'll make the code more readable. (I've not focused on code readability while I implemented the first

[2019-03-25 09:57] lostpebble commented on #3
I'd be up for that! I do currently have lots of development baggage on my current projects though (I run a small startup as a single developer - and I'm very stretched as it is), so I don't know how consistently I'll be able to help out. But that said, I'm open to give it a go! I do really like what you've done so far, and think it could be something great.

I don't think there is actually much mi

[2019-03-31 15:02] brillout commented on #3
I guess you should focus on your startup then:)

Ideas how a real time interface would look like? If you're busy then simply don't answer my question ;).

How about simply inverting the direction of function definition <-> function call:

[code]

[code]

Btw about your startup; Wildcard can be a selling point to attract devS. E.g. my work on Reframe has made it easier for me to hire devS.

And yea

[2019-04-03 09:16] lostpebble commented on #3
Interesting... I like the direction you are going there. So basically, if I call that function on Node.js the browser will execute the function on its side? (and I can pass variables in to that function too, I guess?).

The only issue I see with this which just came to me - and I think its a big one - is that a server -> client communication is one -> many. Real-time communication needs to be able

[2019-04-11 16:39] brillout commented on #3
Yes exactly. So same thing but the other way around.

Was thinking about something like:

[code]

[code]

Didn't know about uWebSockets, seems nice, thanks!

[2019-04-11 16:39] brillout commented on #3
Yes exactly. So same thing but the other way around.

Was thinking about something like:

[code]

[code]

Didn't know about uWebSockets, seems nice, thanks!

[2019-04-16 18:08] lostpebble commented on #3
I think that looks pretty cool. The only thing that might be confusing is having both of those things on the `endpoints` namespace.

As it is now, we have been using `endpoints` on the client to call code on the server. Now you're using the same thing to call code on the client. I think it would be better to "namespace" the methods that call back to the client under `clientEndpoints` or something:

[2019-04-16 18:13] lostpebble commented on #3
Unrelated to the current discussion (but actually on topic to the issue lol), I've just updated wildcard API to the latest version but I can't seem to get the error interception to work.

My code looks like this, but that `console.log("Intercepting endpoint result");` is never being called:

[code]

As far as I can tell the code is exactly like you have it in your tests... So I'm a little confused

[2019-04-17 19:59] brillout commented on #3
- Make sure to use the latest version `wldcard-api@0.1.3`
 - I did a repro of your code and it works: https://github.com/brillout/repro/tree/wildcard-lostpebble
 - Feel free to create a repro and I'll take a look
 - Feel free to share me your code and I'll take a look
 - I'll reply to the rest later

[2019-05-07 15:00] lostpebble opened #5 "Potential problem with client actions resolving on server"
Hi @brillout

Today I noticed something strange, and I thought I'd notify you now - I might run some more tests to see if its really an issue on my side or with `wildcard-api` - but the behaviour is new and I'm pretty sure I haven't changed anything with my code and `wildcard-api`.

I'm getting these errors now when my server is running "client" endpoints:

[code]

The only difference between now

[2019-05-07 15:05] lostpebble commented on #5
These endpoints function perfectly fine when run on the browser btw - its only when I try and run my client endpoints on the server that this happens (I use server-rendering for my React apps and my React app needs to run client endpoints while rendering).

[2019-05-07 15:51] lostpebble commented on #5
Okay, its not a problem with Node.js 12 as I tried changing and got the same errors.

It seems to be a problem with setting the `requestContext` on my endpoints on the client... But I never did that before and it worked fine. I see things changed somehow after version `0.1.2` which broke my SSR.

My endpoints do not really make use of context (headers etc.) as I pass everything needed to them in m

[2019-05-07 15:56] brillout commented on #5
I will have a look now

[2019-05-07 15:57] lostpebble commented on #5
Cool, thanks - I updated my last post too with extra details of my use case.

[2019-05-07 16:09] brillout commented on #5
I know what's going on but I have to run some errands. I'll fix this later today.

[2019-05-07 21:12] brillout commented on #5
Fixed & new version published as `wildcard-api@0.1.4`. You may now omit bind entirely, e.g.: https://github.com/brillout/wildcard-api/blob/master/test/tests/ssr.js

[2019-05-07 21:16] brillout commented on #3
@lostpebble The API of `onNewEndpointResult` has changed in `wildcard-api@0.1.4`. You can use `overwriteResponse` and `overwriteResult` instead, see https://github.com/brillout/wildcard-api/blob/master/test/tests/onNewEndpointResult.js.

[2019-05-07 21:17] brillout commented on #5
As for your questions I will reply tomorrow. I've simplified how Wildcard works, it should be easier to grasp now. (I removed the notion of context, more tmrw.)

[2019-05-07 21:17] brillout opened #6 "update doc"
I removed the concept of context. The documentation should reflect that.

[2019-05-07 21:18] brillout opened #7 "update doc"
I removed the concept of context. The documentation should reflect that.

[2019-05-07 21:19] brillout commented on #7
Weird GitHub bug.

[2019-05-07 21:19] #7 closed

[2019-05-07 21:19] brillout commented on #7
This is a dup of #6

[2019-05-08 18:56] brillout commented on #6
Fixed.

[2019-05-08 18:56] #6 closed

[2019-05-08 19:35] brillout opened #8 "Remove next call from docs?"
I'm not sure if calling the next middleware makes sense with Wildcard.

[2019-05-08 19:44] brillout commented on #5
I improved the FAQ entry "Does it work with SSR?": https://github.com/brillout/wildcard-api#does-it-work-with-ssr

The bottom line is:

Check the FAQ entry for more explanation.

I hope this clarifies things. Let me know if not and I'll improve the explanation.

Btw. I want to make Wildcard more popular. Any idea how I can do so?

[2019-05-08 19:44] brillout opened #9 "Add docs for `onNewEndpointResult`"

[2019-05-08 20:09] lostpebble commented on #5
Thanks for the quick fix! It's working fine for me now, just tested out `0.1.5`.

I see, it all makes sense... if only there was another way to get the context in when calling on Node.js directly - but yea, I do understand the problem here. It seems pretty much impossible to do in any other way.

Yea I know that part is always hard. Maybe you could make a video like "Wildcard API in 2 minutes" whe

[2019-05-08 21:48] #5 closed

[2019-05-09 12:00] brillout commented on #5
Thanks for believing in Wildcard.

Yes I'm afraid so. I wished there would be an easier way.

Hm.. yea.. true. That's probably where I could improve: improve the Readme so that understanding Wildcard feels easy and natural. Some parts of the Readme are clunky right now.

I'll be working on it, thanks.

As for videos I'm quite opinionated on this and I believe that text is a vastly superior way to

[2019-05-09 12:09] lostpebble commented on #5
Yea for sure. For documentation and wanting to know more about a project, text is by far superiour - but for promotional purposes, a quick video could be a good catalyst to give people who would never even land on your github page a way to see what they're missing out on in a very easily consumable way (and fun way, if you can make the video slightly interersting).

Its purely an additional opport

[2019-05-09 19:32] brillout commented on #4
Agreed.

Let me know if this is problematic for you and in that case I'll implement this.

[2019-05-09 20:19] brillout commented on #9
Done.

[2019-05-09 20:19] #9 closed

[2019-05-09 20:21] brillout commented on #3
@lostpebble I renamed `onNewEndpointResult` to `onEndpointCall` in `wildcard@0.2.0`. It's now documented at https://github.com/brillout/wildcard-api#onEndpointCall.

[2019-05-09 20:24] brillout opened #10 "Real time communication / Web socket"
Myself and @lostpebble have been discussing adding two way communication to Wildcard in #3.

[2019-05-09 20:28] brillout commented on #10
@lostpebble

Ok yea you're right. Maybe we could rename `endpoints` to `server`. And then add a new object called `clients`.

[2019-05-09 20:29] brillout commented on #10
From the client perspective, it makes sense to have `server.aFunctionDefinedInTheServer();`. Maybe more than `server.aFunctionDefinedInTheServer();`.

[2019-05-09 20:30] brillout commented on #3
I'm closing this, feel free to re-open if something doesn't work.

[2019-05-09 20:32] brillout commented on #1
@roja I removed all `next()` calls from the documentation. You're right, it's a saner default to not call `next()`.

Do you still use Wildcard? If not, what made you stop using Wildcard?

[2019-05-09 20:32] brillout commented on #8
Yes, it's a saner default. Done.

[2019-05-09 20:32] #8 closed

[2019-05-09 20:32] brillout commented on #2
Done.

[2019-05-09 20:32] #2 closed

[2019-05-09 20:33] brillout opened #11 "[HELP] Popularize Wildcard"
We believe RPC deserves more attention. So many people create a RESTful/GraphQL API even though RPC would be enough.
 - [Tweet about Wildcard](https://twitter.com/intent/tweet?text=Interesting%20alternative%20to%20REST%20and%20GraphQL...%0Ahttps%3A%2F%2Fgithub.com%2Freframejs%2Fwildcard-api).
 - Let us know for what project you are using Wildcard. We will add a "Who uses Wildcard" section.
 - Star

[2019-05-09 20:35] brillout commented on #5
Ok yes makes sense.

Yea! And would be funny to see your face ;-).

[2019-05-09 20:36] brillout commented on #5
Ah and I've made couple of changes to the readme. I believe it's a bit better now.

[2019-06-04 20:29] brillout commented on #3
In my efforts to simplify Wildcard I've redesigned how Wildcard handles errors. The new version `wildcard-api@0.4.0` still includes `onEndpointCall` but I'd like to deprecate it.

I believe there should be a way to achieve what you want without `onEndpointCall`.

Maybe you could wrap all your endpoint functions:

[code]

And on the browser side you can then do whatever you want:

[code]

If I'm no

[2019-06-05 08:40] lostpebble commented on #3
Hi @brillout

Okay cool. I'll stick with the wrapping of my endpoints then, as I mentioned earlier.

It's not the greatest thing though to be honest, as people will expect their endpoints to throw errors completely instead of them being swallowed by wildcard - as one would expect if we were creating regular API endpoints. Is there a reason why you need to take control of catching the errors?

As I

[2019-06-07 09:47] brillout commented on #3
Agreed and Wildcard actually never swallows errors. All uncaught errors happening in your endpoint function are always printed in Node.js's stderr.

I find libraries that swallow errors super annoying. Swalling errors is a no-go.

That said, and as we agreed earlier, errors should not propagate to the browser.

Sorry, I wasn't very clear: I was speaking of uncaught errors. Caught errors are perfec

[2019-06-10 16:29] lostpebble commented on #3
Okay cool, I will continue using wildcard with the wrapping of my endpoints and catch as needed.

Will let you know if any use-cases arise where I run into some friction.

[2019-06-10 16:29] #3 closed

[2019-07-13 06:26] MarcCoquand opened #12 "ReasonML bindings"
This is a nice project, would be even nicer if there were bindings to ReasonML and Typescript.

Cheers.

[2019-07-14 13:34] lostpebble commented on #10
@brillout yea I like that naming better - its more deliberate and readable. Could maybe do with a little extra to be more obvious too (such as `serverEndpoints` and `clientEndpoints`), but I know you would prefer to keep it as short as possible.

[2019-07-14 20:54] brillout commented on #10
:+1:

[2019-07-14 20:55] brillout commented on #12
Thanks.

I'll consider adding bindings once more people want this.

[2019-07-16 07:05] lostpebble commented on #4
@brillout I think I've hit the limit on this now.

My server is returning:

Status Code: **431** Request Header Fields Too Large

I'm trying to pass relatively large JSON objects to my server. They're actually not even that big, but I think I've hit the limit.

This is the JSON payload I'm sending to the server (prettified):

`
{"id":"wantitall__.__amazon-product-test","scraperEndpoint":{"scrapeFi

[2019-07-16 10:13] brillout commented on #4
I will fix this today or tomorrow. If this is urgent on your side, let me know.

[2019-07-16 11:07] lostpebble commented on #4
I've replaced that endpoint with a custom API of my own which is working fine for now.

[2019-07-21 21:31] brillout commented on #4
(I didn't forget about this. I'm on vacation. Ttyl.)

[2019-07-27 15:28] brillout commented on #4
@lostpebble Done. Sorry for the delay. Re-open this if you encounter any issue. Update Wildcard to `wildcard-api@0.5.0` Note that, from now on, you will have to provide the HTTP request body to `getApiResponse`:

[code]

Also note that I renamed `responseProps.content` to `responseProps.contentType`.

For other server frameworks: https://github.com/reframejs/wildcard-api#getting-started

[2019-07-27 20:36] lostpebble commented on #4
Thanks @brillout ! No worries about the delay, managed with a temporary fix until now (was just a single endpoint for now). Will update the package and try out the new way soon.

[2019-08-09 15:54] sustained opened #13 "Hanging requests (in browser) with invalid payloads."
Cool little project!

----

Create a basic endpoint e.g. mine is:

[code]

So, if you visit `/wildcard/hello` in the browser then you'll get a `500` + a stack trace etc. printed, seems good so far.

If you visit e.g. `/wildcard/hello/%5B%7B%22name%22%3A%22Alice%22%7D%5D` then you get a `200` + the API response, also seems good (although I don't understand why the object is within an array in the U

[2019-08-09 22:41] brillout commented on #13
Thanks!

Yes that's expected because your endpoint function will throws an error when trying access `payload.name` while `payload` is `undefined`.

Because it's the **list** of arguments, thus an array.
Imagine you'd call `endpoints.hello('firstArg', 'secondArg')`.

I just published a new version `wildcard@0.5.1` that returns a `404` instead of a `500` when calling a malformatted URL such as `/wil

[2019-08-10 10:03] sustained commented on #13
Excellent, thanks for the prompt response and fix.

But I think a 422 or even a 400 would be more appropriate.

```The 422 (Unprocessable Entity) status code means the server understands the content type of the request entity (hence a 415 (Unsupported Media Type) status code is inappropriate), and the syntax of the request entity is correct (thus a 400 (Bad Request) status code is inappropriate) b

[2019-08-11 10:00] brillout commented on #13
You're right, `400` is better than `404` here.

Done and `wildcard@0.5.2` now returns `400`.

Thanks for opening the issue & let me know if you run into any problem.

[2019-08-11 15:03] sustained commented on #13
:tada:

[2019-08-11 15:03] #13 closed

[2019-08-25 16:41] lostpebble opened #14 "How to know if running in Node.js internal or client request context"
I've noticed that you're using a `Proxy` for `this` inside of endpoint functions when we're running directly in Node.js (outside of a request context). This is making it a bit difficult for me to run checks on which context we're actually on because any property access on `this` now throws an error (I understand why you set it up this way, as it helps beginners). Maybe it could be best if there wa

[2019-08-25 16:43] lostpebble commented on #14
The original way I tried to solve it:

[code]

And then I was checking `this.isClientRequest` - but of course, that throws the error from the `Proxy` you've set up for non-request contexts when my app is SSR.

[2019-08-26 10:22] brillout commented on #14
You could:

[code]

`isClientRequest` is now always available:

[code]

The idiomatic way to do auth with Wildcard is:

[code]

Thanks to `bind`, the endpoint function `paulEndpoint` has always access to the headers:

[code]

Would this be a solution for you?

PS: I'm going to re-write the `SSR & Authentication` docs. I'm currently doing a poor job at explain what's going on.

PS2: Btw., I'm still

[2019-08-26 12:06] lostpebble commented on #14
I see, I'm actually already passing some things down differently to make the endpoint run differently if its coming from a request context or being run internally on Node.js. I'm not using `bind()` though - I'm just augmenting my arguments passed to the endpoint (same end result really).

But for security reasons (I have different methods for authentication depending on which context we're in), I

[2019-08-26 22:16] brillout commented on #14
Why is your endpoint behaving differently depending whether it's called from the browser or from Node.js?

The idea of SSR is to have the exact same view rendered to HTML then again to the DOM.
I'm not sure why you would want to have a different logic resulting into the same view.

Yes, the endpoint arguments are not safe. Anyone can pass any arbitrary data as arguments.

This is not the case with

[2019-08-26 22:49] lostpebble commented on #14
The logic is exactly the same. Its simply because of the way that I'm using Wildcard in conjunction with my library Pullstate. My Wildcard API is being called from inside my React render cycle which makes it impossible for me to pass `ctx` to it - but I have other ways of passing state through my state stores in my app (I've developed an Async-state handler for React on top of which I run Wildcard

[2019-08-27 08:43] brillout commented on #14
Ok I see.

So yea, you could do this:

[code]

Then in your endpoint function:

[code]

Ok I'll let you know if I manage to arrange a group session with Vibescout! (Normally the group session participants are randomly shuffled together.)

I've looked into Pullsate &mdash; super interesting. I find the whole state management topic fascinating. I feel like state management is going to be very very d

[2019-08-27 08:44] brillout commented on #14
Also I've finished re-writing the SSR+Auth docs. On a high level, it should be much clearer. I still need to polish some low level stuff though.

[2019-08-27 08:51] lostpebble commented on #14
I've actually done it **exactly** like that. haha. Working perfect.

Cool. Yea state management is interesting. I didn't like most what was out there, so made my own (based off an abandoned library which I enjoyed). I just want whatever is the most simple way to change object "stores" and have the UI react accordingly - most other libraries are very verbose in this. I've extended it with some inte

[2019-09-01 15:15] lostpebble commented on #14
Seeing as my situation has been solved by using `bind()`, I think we can close this.

[2019-09-01 15:15] #14 closed

[2019-09-11 11:48] jensneuse opened #15 "How to: versioning, introspection"
Very interesting project!

1. I'd like to know how a client might know which APIs are available, similar to GraphQL introspection.

2. How do you version/deprecate APIs? How would you ensure backwards compatibility.

Would be nice to have a FAQ that covers the full API lifecycle.

[2019-09-11 12:33] brillout commented on #15
With Wildcard you create an internal API which means that you are the consumer of your own API. Since you (or your organization) wrote the API you already know what endpoints there are.

That said, the root route `/wildcard/` will list all your endpoints while developing (`[undefined, 'development'].includes(process.env.NODE_ENV)`) which is comfy for debugging.

I would do this on an endpoint-by-e

[2019-09-11 18:51] jensneuse commented on #15
Do you think this actually works across an organisation? If you have a 1:1 relationship between front-end and backend with the codebase in a mono repo I think this will work fine.
If on the other hand you want to access this API from multiple front ends sitting in different repositories I feel like this approach has its shortcomings in terms of documentation and discoverability.
Both REST (with OI

[2019-09-13 15:48] brillout commented on #15
As far as I can see, the most important criteria here is how many API consumers you have.

For example, if you have only 2 front-ends consuming yourre- RPC API, then it's most likely acceptable to change the API every time one of these frontends needs a change.

But, if you have an API that has 1000s of different consumers, then RPC is not the right choice. You just cannot change the API every tim

[2019-09-19 07:58] lostpebble commented on #4
Hi @brillout !

Was just wondering. Is there any way to force Wildcard to always use `POST` with a `JSON` Request payload, instead of how it now does it with encoding everything into the URL?

I actually find this harder to debug because all my JSON is scrambled into the URL instead of nicely presented in Chrome Dev Tools under "Request Payload".

I also prefer for my server logs to be cleaner, as

[2019-09-19 14:24] brillout commented on #4
Hey Paul,

Makes sense! I will implement this tentatively today, latest in the next couple of days.

Romuald

[2019-09-20 15:31] brillout commented on #4
Done & published in `wildcard-api@0.5.3`. Docs at https://github.com/reframejs/wildcard-api#options.

[2019-09-20 15:31] #4 closed

[2019-09-20 18:34] brillout commented on #14
Hehe :D

Same here &mdash; I'm not super happy with how state management is currently being done.

Ok makes sense from a data fetching perspective. One thing I was thinking while reading about it is: "this is very tailored towards data fetching, could it be extracted outside of Pullstate's core?". I.e. maybe it could be library that uses Pullstate instead of being part of Pullstate. Would super ne

[2019-09-23 08:40] lostpebble commented on #14
That is true, there is a bit of code there that could be extracted outside of Pullstate's core - but at the same time, there is a lot which is tightly integrated with Pullstate too - such as being able to integrate your stores into asynchronous actions at every step of the way in a SSR capable way (and in the hooks etc.).

At the moment the library doesn't really weigh in very high. For the amount

[2019-09-23 08:41] lostpebble commented on #4
Great, thanks for the speedy implementation!

[2019-10-08 14:18] chriscalo opened #16 "`Cannot convert a Symbol value to a string` when `console.log()`ing `this` in endpoint function"
The getting started section of the [Wildcard API docs][wildcard-docs] state that `this` will be equal to the `requestProps` object passed to `getApiResponse()`.

[code]

I tried `console.log()`ing `this` from an endpoint function:

[code]

Unfortunately, it blows up with the following error:

[code]

See the [bug-when-logging-this-in-endpoint-function][] branch to reproduce this error.

[wildcard-

[2019-10-08 17:52] brillout commented on #16
An edge case led to this unfriendly error to be thrown. It's now fixed in the newly published version `0.5.4`; the proper original error message that explains what's going on is now shown instead. I'm sorry you didn't see the proper error message &mdash; I do care about error messages that contain an explanation.

[2019-10-08 17:52] #16 closed

[2019-10-08 17:56] chriscalo commented on #16
Thanks for the fix! 👍 I'll give the a try today

It appears that [Wildcard API is already trying to set `this` when calling the endpoint method by using `endpoint.apply()`][endpoint.apply()]. Any idea why this isn't working? (Is it the use of `Proxy`? Or am I not reading this right?)

[code]

[endpoint.apply()]: https://github.com/reframejs/wildcard-api/blob/master/server/WildcardApi.js#L356

[2019-10-08 22:45] brillout commented on #16
You can read about `bind()` [here](https://github.com/reframejs/wildcard-api/blob/master/docs/ssr-auth.md#readme). It explains why `bind()` is necessary when using the Wildcard client in Node.js.

I'm afraid not; this is inherent to SSR. You'll always have to manually provide the HTTP request information while doing SSR, no matter whether you use RPC, REST, or GraphQL.

[2019-10-09 05:38] chriscalo commented on #16
I now see why the request info must be provided. 👍 Thanks for the explanation.

[2019-10-09 16:45] brillout commented on #16
That said, one thing I want to do is to have Goldpage automatically provide `requestProps` to Wildcard. Although there will be some edge cases where the user will still need to use `bind()`.

[2019-10-11 23:55] brillout commented on #14
@lostpebble Ok makes sense

[2019-10-14 00:54] laggingreflex opened #17 "Allow custom host/port"
Great lib. I was playing around with it for a project.

I wanted to have the RPC entirely separate into its own service, as opposed to on top of the server that serves the client HTML.

I also wanted to use [micro](https://github.com/zeit/micro) as the underlying http server.

I don't suppose this is currently possible? It'd be great if it were, i.e. it allowed the user to specify custom host, por

[2019-10-14 17:20] brillout commented on #4
Hi @lostpebble, I just published a breaking change about this: https://github.com/reframejs/wildcard-api/releases/tag/v0.6.0

[2019-10-14 17:25] brillout commented on #17
You can do this, see https://github.com/reframejs/wildcard-api#serverurl

Make sure to update to `wildcard-api@0.6.0`.

I'm curious, why?

Thanks

[2019-10-15 04:08] laggingreflex commented on #17
Awesome.

As for why I wanted separate server, it was for a couple use-cases:

* Apps that aren't served by Node, or server-less apps (netlify etc). Even locally, I use webpack-dev-server and a separate API server.

* I had a [Carlo](https://github.com/GoogleChromeLabs/carlo) app (which has its own [RPC API](https://github.com/GoogleChromeLabs/carlo/blob/master/rpc/rpc.md) but I wanted something e

[2019-10-15 04:08] #17 closed

[2019-10-15 13:02] brillout commented on #17
Ok I see :+1:

[2019-10-15 23:17] brillout commented on #4
@lostpebble I actually realized that the old interface was more convenient. I just published a new major version `v0.7.x` that is backwards compatible with `v0.5.x`. So if you update Wildcard from `v0.5.x` to `v0.7.x` you can keep your code as it is.

[2019-10-16 13:48] lostpebble commented on #4
Okay cool, thanks. Will check it out soon.

[2019-10-16 14:08] brillout commented on #4
There is nothing to check out :) Just update to `v0.7.x` and leave your code as it is. (Or simply keep `v0.5.x`.)

[2019-10-23 14:07] brillout commented on #15
Let me know if you have further questions or doubts.

[2019-10-23 14:07] #15 closed

[2019-10-23 14:08] brillout commented on #10
I have some ideas about this. I believe we can pull this off in a neat way. If anyone is interested in this, please ping me here.

[2019-10-23 20:59] brillout opened #18 "Doc Improvements"
- Explain why in the examples the permission denials don't return any info.

[2019-11-13 17:23] brillout commented on #18
Done.

[2019-11-13 17:23] #18 closed

[2019-11-27 10:56] brillout commented on #15
I created a [FAQ](https://github.com/reframejs/wildcard-api/blob/master/docs/faq.md#faq) which answers the question "How can I do versioning with RPC?". It does a better job at explaining why you don't need versioning with RPC than what I wrote in this ticket.

[2019-12-18 09:48] lostpebble opened #21 "TypeScript - Difficult to create types for better developer experience"
Hi Brillout! Hope things are well.

This is not a major issue, but it is something that has been nagging at me since I've started using Wildcard. The fact that I can't easily add types to my API. Specifically Typescript, but I'm sure it applies for most typing systems, as well as general IDE smart auto-complete stuff.

Wildcard works by pretty much defining things directly on the library module, a

[2019-12-18 09:54] lostpebble commented on #21
I'm going to try and see what I can work out.

Just curios, would something like this work for Wildcard :

[code]

Or are we required to define the functions directly on `wildcard.endpoints` ?

Because I could potentially type the separated endpoints object and reuse that grouping of type information on the client.

[2019-12-18 10:33] brillout commented on #21
I'm not familiar with TypeScript but AFAICT, a solution could be a babel plugin `@wildcard-api/babel-transform-wildcard` that does the following transformation:

Before:
[code]
After:
[code]

The idea is to trick your IDE into thinking that `createTodo` is imported directly from the server.

However, any type checking at build-time will not work. I'm assuming that you guys do type checking at dev-

[2019-12-18 10:34] lostpebble commented on #21
Okay, I think I've managed to solve my use case for now!

[code]

And then on the client:

[code]

Now the endpoints on my client are typed, under `wildcard` ! 😄

![image](https://user-images.githubusercontent.com/1508863/71078770-54cac600-218a-11ea-8ba3-a5d299afc426.png)

[2019-12-18 10:39] lostpebble commented on #21
Ah, that's not a bad idea. I just don't like using transforms where I don't have too - and I like being very deliberate with my types. The way I've solved it now feels good to me, as its more direct and natural.

I haven't worked with `.vue` files, but I would assume the IDE is capable. WebStorm is quite versatile and smart with most of the newer JavaScript tech nowadays.

I'll be sure to upgrade

[2019-12-18 10:41] brillout commented on #21
Neat :+1:

[2019-12-18 10:42] brillout commented on #21
Let me know if you want me to re-open this.

[2019-12-18 10:42] #21 closed

[2019-12-18 10:45] brillout opened #22 "[HELP] Testimonials"
Let us know how Wildcard works out for you. We'll add your testimonial to Wildcard's Readme.

[2019-12-18 10:45] brillout commented on #21
Btw https://github.com/reframejs/wildcard-api/issues/22 would be awesome. Thanks!

[2019-12-18 10:59] lostpebble commented on #22
Happy to contribute! 🙂

A short one for now:

The seamless "drop in and use" nature of Wildcard has enabled Vibescout to accelerate the development of new features, it enables us to quickly prototype new ideas and build out internal dashboards with ease (without unneeded the verbosity of things like GraphQL). The barrier between our server and client is almost nonexistent now- its really just a fu

[2019-12-18 13:30] brillout commented on #21
Thanks for testimonial!

Btw I'll be in Paris from the 21th to the 29th in case you'd be up for a drink. (I grew up in Paris.)

[2019-12-18 14:34] lostpebble commented on #21
Oh cool. Yea I'd be up for that! Just heading away from the 24th, so would have to be one of the earlier days (this Saturday - Monday).

Do you perhaps use discord? Can add me on there as lostpebble#7413 - otherwise can DM on Twitter.

[2019-12-19 20:20] brillout commented on #11
Tweet link in Wildcard header makes this irrelevant.

[2019-12-19 20:20] #11 closed

[2019-12-19 20:41] brillout opened #23 "Implementation for Python, Go, Ruby, PHP, etc."
In order to be able to define a function, e.g. in Python, and call it remotely, e.g. in JavaScript.

Re-writing Wildcard's core in WebAssembly could help us re-use the core in all kinds of backend environments.

https://github.com/wasmerio/python-ext-wasm
https://github.com/wasmerio/go-ext-wasm
https://github.com/wasmerio/ruby-ext-wasm
https://github.com/wasmerio/php-ext-wasm

[2019-12-22 09:42] n337 commented on #22
We are a web shop and decided to try Wildcard with one of our projects. We were delighted: not only made Wildcard our front-end development simpler and faster but it also allowed us to easily implement features that were previously difficult to implement with REST or GraphQL.

We now use it for all our new Node.js projects and we couldn't be happier.

The cherry on the cake: it now supports TypeSc

[2019-12-22 11:11] brillout commented on #23
This is long term and not relevant now. Closing for now.

[2019-12-22 11:11] #23 closed

[2020-01-09 20:34] jimfranke opened #24 "File uploads"
Hi; I like the approach you're taking with Wildcard API. What's you're suggested way of handling file uploads, any idea's on how to do this through RPC?

[2020-01-10 14:33] brillout commented on #24
Hi @jimfranke !

I'd say go for what you are most comfortable with.

I'm assuming that you are using a modern view library such as React, Vue, or Angular.

You then have two options:
 - [FormData](https://developer.mozilla.org/en-US/docs/Web/API/FormData)
 - [FileReader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader)

If you use `FormData` then you use Express/Koa/Hapi directly and y

[2020-01-10 14:36] brillout opened #25 "[Docs] Write doc about how to file upload"
Follow up of https://github.com/reframejs/wildcard-api/issues/24

[2020-01-10 14:37] brillout opened #26 "[Docs] Write docs about Node.js <-> Node.js communication"

[2020-01-10 14:37] brillout opened #27 "[Docs] Write boilerplate"
For a quick start a boilerplate would come in handy.

[2020-01-10 23:49] bbarr opened #28 "Prebuilt client code served via CDN"
I have just bundled locally and am using that without issue so far, but would love to have an official (and updated) build available for projects that don't use any bundlers.

Edit: Also, fantastic job.. This has felt very clean and really fast to learn!

[2020-01-11 13:34] brillout commented on #28
Hi @bbarr

I'm not shipping a bundled version of `@wildcard-api/client` because I'm assuming that the vast majority of frontend stacks use a bundler nowadays.

So I'm curious; what's your frontend stack?

Would delivering a `@wildcard-api/client` bundle with unpkg solve your problem?

Thanks, I appreciate your kind words.

[2020-01-11 22:47] bbarr commented on #28
Definitely, a UMD bundle or something on unpkg would solve it. If no one else picks this up soon, I can take a shot at a PR.

And most of my projects target modern browsers, so my "stack" has reverted to just HTML, CSS, and JS static files. It's fun, like 2008 again but without IE :)

[2020-01-11 23:15] brillout commented on #28
Sounds fun indeed :-)

Have you heard about Snowpack?

Would love to! I guess we can use a zero-config bundler here such as Parcel. Or Rollup? Your PR would then simply just diff `package.json`.

[2020-01-12 20:02] #28 closed

[2020-01-12 20:03] brillout commented on #28
I'm curious; where did you hear about Wildcard?

Thanks for the PR :heart_eyes:

[2020-01-21 19:22] bionicles opened #30 "to use this with Nextjs as a startup engineer, can you add a NextJS example?"
thanks for a simple and documented repo. I like the examples!

in nextjs you can make a folder /pages/api/xxxx.js and it will make them into routes

 https://nextjs.org/docs/api-routes/introduction

would it be possible to make an example for wildcard-api with nextjs? (i used npx create-next-app to bootstrap)

this would make it easier to adopt wildcard in react Server Side Rendering projects
(nex

[2020-01-21 19:27] brillout commented on #30
Makes sense, I'll implement a Next.js example :-).

You can see an SSR usage of Wildcard with Goldpage, e.g. https://github.com/reframejs/reframe-proto. (See https://github.com/reframejs/reframe.)

I understand that you'd want to go for something more mainstream than Goldpage and I'll implement a Next.js example.

[2020-01-23 19:43] brillout commented on #30
Done https://github.com/reframejs/wildcard-api/tree/master/examples/next.js

Let me know if you have questions.

[2020-01-24 02:11] kiwicopple commented on #30
Not tested, but if you want to do an example with "hooks" and functional components, it would probably look like this:

[code]

[2020-01-24 16:17] brillout commented on #30
The example doesn't really need any state nor hooks. But yes implementing the React components with functions instead of classes would be neat. I'd gladly accept a PR ;-)

@bionicles Any questions? I'll close the ticket if you don't :-)

[2020-01-24 23:59] a-teammate opened #31 "Support Rollup and ES5"
First of all thanks for the lib :)
It looks very promising, but I struggle getting it to work in my rollup based project where I use ES5 modules.

Disclaimer: *Maybe I am missing something essential, as I am new to this whole js module mess.
However, other libraries work out of the box for me after importing them in a sapper project (i.e. nodejs framework for svelte). So that is why I still figure

[2020-01-25 18:08] brillout commented on #31
Hi @a-teammate,

I just tried and yes Rollup is having difficulties with circular dependencies.

Some circular dependencies come from code written by myself but some come from libraries that I didn't write. At this point I'm not willing to change all my circular dependencies and open an issue of each library that has some as well.

Sapper also works with webpack, would using webpack instead of Rol

[2020-01-25 20:57] a-teammate commented on #31
Do you think that is the issue why it is not working at all?
I'd have thought the issue is that the common.js translator plugin does not find some of the dependencies of the lib. But true that, could be bc of circular deps :/ (Reading [This](https://github.com/rollup/rollup/issues/1089) it looks like the commonjs translator really seems to have problems with circular deps)

Coming from other langu

[2020-01-25 21:32] brillout commented on #31
Hallo Malte :-)

Actually it does, virtually all packages are compatible with webpack nowadays.

Because it's convenient not to have to transpile for running in Node.js. E.g. Wildcard's tests don't need a transpilation step to run.

I'll rewrite everything with ES modules once Node.js supports ES modules (without flag).

Do you know Parcel https://parceljs.org/? It does a good job at working out o

[2020-01-26 20:28] a-teammate commented on #31
Actually node 13 does enable ES module support by default.

Good tip. I have known about it, but I don't remember the reasons I discarded it. But zero config should have been higher weighted in my decision. Also fast builds should have been higher weighted when doing prototyping..
Made it on my Todo Short-list.

Actually my app is kind of the opposite of a static webpage, its more chat-app like. B

[2020-01-26 22:08] brillout commented on #31
Neat. I'll consider re-writing everything with ES modules then.

Any luck on that? We can do it together if you want; let me know how things go and I'll help whenever I can.

I see. If you don't need SSR then yea don't use Goldpage.

I know that svelte is marketing itself as mobile performant. Does svelte deliver on that promise? I'm curious.

I like our discussion :-)

[2020-01-26 22:50] a-teammate commented on #31
I can fix the build errors by replacing all calls to the @brillout/assert lib with that mock:
[code]
I had to do that in the files `wildcard-api/client/WildcardClient.js`, `wildcard-api/client/makeHttpRequest.js` `wildcard-api/client/WildcardClient.js` `@brillout/json-s/src/reviver.js`
In `@brillout/fetch/index.js` not your assert lib, but the reassert lib is used, I just replaced that with the sa

[2020-02-05 22:14] brillout commented on #31
Hi!

I only read your reply today- somehow I skipped the GitHub notification, sorry for the late reply!

I can have a look at it myself, do you have a reproduction code I could use?

[2020-02-05 22:15] #30 closed

[2020-02-05 22:15] brillout commented on #30
Feel free to reach out if you have questions.

[2020-02-06 10:04] johnson544 commented on #10
Hi @brillout, did you continue with web socket support ?  I am interested to try it out. Thx!

[2020-02-06 10:36] brillout commented on #10
Hi @johnson544 :-)

No one needed bi-directional communication so far but I'd be up to implement that! Should be fun.

What's your use case?

[2020-02-20 11:36] brillout commented on #24
I'm closing this but let me know if there anything that is not clear :-)

Rom

[2020-02-20 18:32] johnson544 commented on #10
Hi @brillout, I played around with a Trello clone in GraphQL using subscriptions. I feel it was way too much boilerplate for a simple CRUD actions and reordering of cards.

I feel something like graphql's  @defer and @stream option would be really cool.

Also I can think of a realtime endpoint that automatically watches for changes and appends, updates, or removes elements based on conditions. The

[2020-02-21 16:50] yosbelms opened #33 "Consider to abandon singleton endpoints instance"
Currently `endpoints` is a singleton object which gives room for third party libraries to add unwanted edpoints.

You can find more about this [here](https://github.com/yosbelms/remote-func/issues/1)

[2020-02-21 20:52] brillout commented on #33
In JavaScript, the source code of all your app's dependencies need to be trusted; any "third party library" has access to your OS which is far worse than knowing about the API.

[2020-02-21 20:52] #33 closed

[2020-02-21 21:14] brillout commented on #10
Hallo @johnson544,

(cc @lostpebble)

Okay so my idea for realtime bi-directional communication is to extend Wildcard to allow "passing" callback functions as arguments.

[code]

[code]

The browser then prints:

[code]

I call this feature *callback arguments*.

With callback arguments, your Trello clone would do something like this:

[code]

[code]

### `@defer` & `@stream`

Today, something lik

[2020-02-21 21:16] brillout commented on #10
And please feel free to be very critical. I'm more than happy to hear very negative feedback and completely different approaches.

How would *you* design bi-directional communication with Wildcard?

[2020-02-24 12:00] brillout commented on #10
cc @johnson544, @lostpebble

Okay so my idea for realtime bi-directional communication is to extend Wildcard to allow "passing" callback functions as arguments.

[code]

[code]

The browser then prints:

[code]

I call this feature *callback arguments*.

With callback arguments, your Trello clone could do something like this:

[code]

[code]

[2020-02-24 12:03] brillout opened #34 "@defer & @stream"
Follow up of https://github.com/reframejs/wildcard-api/issues/10#issuecomment-589241713

cc @johnson544

Today, something like `@defer` can be done with Wildcard by doing:

[code]

With [callback arguments](https://github.com/reframejs/wildcard-api/issues/10#issuecomment-590287654) you'd be able to implement streaming and further defer optimizations:

[code]

Gerne :-) Write me on Twitter (https:/

[2020-02-26 15:48] johnson544 commented on #10
Cool, I can see callbacks perfectly working for defer. Really like it!

But how would it work with web sockets like socket.io ? So that new cards are broadcasted to all sessions?

For my Trello example I created below subscription for creating cards:

[code]

[2020-02-26 17:21] lostpebble commented on #10
Looks pretty cool so far @brillout . Sorry, I've been busy lately so haven't had time to really dig into it and think about it properly.

Just one thing that stands out to me at the moment is that it seems like this API is happening on the same objects as the current REST API stuff?

[code]

My main concern would be this clashing with the current API, as currently it works completely differently (

[2020-02-26 20:33] worms19 opened #35 "Problem using wildcard in a dockerized application"
Hi,

first of all i would like to thank you for this project which seems to have a bright future.

i have a small problem using it in a docker container,

i have a node and a react container running on port 8000 (for the node server) and 3000 for the react server.

I tried to set the first exemple from the readMe, when i run it in the browser manually it works perfectly http://localhost:8000/wildc

[2020-02-26 20:56] brillout commented on #35
Hi @worms19 !

Check out https://github.com/reframejs/wildcard-api#serverurl. Your frontend and backend don't run on the same port hence you have to tell Wildcard where the server lives.

Let me know if that works.

See, https://github.com/reframejs/wildcard-api/blob/master/docs/how-wildcard-works.md#how-wildcard-works. Let me know if something is not clear.

Thanks :-) - ideas on how I can make m

[2020-02-26 21:12] worms19 commented on #35
@brillout thanks for the quick reply

 i didn't read far enough on the documentation it works perfectly

i can tell you're pretty much everywhere (reddit, medium), maybe you could try to run a demo app on a youtube videos (videos courses are quite popular nowaday) but you better have a lot of free time in front of you.

I'm gonna try to build something out of this project, i'll try to give you fee

[2020-02-26 21:12] #35 closed

[2020-02-27 19:17] brillout commented on #10
@johnson544 I've given the callback arguments idea more thoughts and unfortunately the usability of callback arguments becomes complex around edge cases.

@lostpebble Yes I like the minimalism of the idea :-) but unfortunately the UX is less than ideal around edge cases. Thanks for chiming in and no worries about not replying :-)

I'll give real communication with Wildcard more thoughts and write

[2020-02-27 19:22] brillout commented on #35
Yea I'm not sure how I can popularize Wildcard without spending **too** much time on it.

It's just silly that people are doing all this GraphQL stuff when they don't really need it. Kinda my responsibility to get to word out there that RPC is enough for like 95% of the time.

That would be awesome, I'm def looking for feedback :-)

Thanks hehe :)

[2020-02-27 19:24] brillout opened #36 "[Doc] Tell user about `serverUrl` when frontend is served on a different port than server"
Wildcard could tell the user what to do when doing something like described in https://github.com/reframejs/wildcard-api/issues/35

[2020-02-28 15:16] brillout commented on #10
Got a new idea, I'll let you know about it today / the next couple of days.

[2020-02-28 20:51] worms19 opened #37 "Using postman to test endpoints"
Hey,

i tried to create endpoints with arguments :

the http request in the request look like this :

Request URL: http://localhost:8000/wildcard/deleteEducationObject/%5B123%5D

i'm trying to use PostMan to test the requests, what documentation should i check to see how url are constructed ?

thanks again

[2020-02-29 08:32] brillout commented on #37
Hi @worms19,

You can test by using the Wildcard client:

[code]

Does that work for you?

Wildcard aims to fully abstract away anything related to HTTP and serialization; you shouldn't have to know about these things. If you're curious how things work I'm happy to elaborate :-)

Rom

[2020-03-08 20:56] brillout commented on #10
(I'm not forgetting about this:))

[2020-03-11 15:34] Johnson444 opened #38 "[Enhancement] Add interceptors to client and server"
Hi, It would be cool to have interceptors for client and server similar to axios.

Cheers!

const DEBUG = process.env.NODE_ENV === "development";

[code]

[2020-03-11 15:50] Johnson444 opened #39 "[Question] How to deal with header variables like Authorization?"
Hi, in graphql I have a cookie with my apollo-token and check for it in my context.

[code]

You wrote that we can setup a middleware in express for reading the token: `app.use(wildcard(getContext));`

This makes sense for me but I am note sure where I have to set my token in the wildcard client to send it with each endpoint query. Can you help here ? Thx!!

[2020-03-11 22:24] brillout commented on #39
Hey!

You can achieve that with `getContext`:

[code]

You can think of the context object as bridge between Express and your Wildcard functions.

The `getContext` function is called on every API request and you can use it to provide any information you want to your Wildcard functions.

Does that make sense?

[2020-03-11 23:01] brillout commented on #38
Hi @johnson544 !

You can do this today by wrapping your Wildcard functions:

[code]

Does that work for you?

Although something like following would be more comfy:

[code]

On the other hand I like Wildcard to be minimalistic; the first solution is all vanilla JavaScript &mdash; kinda cool :-).

The second solution is "easier" though.

A trade off could be to provide the `interceptor` code above

[2020-03-11 23:02] brillout commented on #10
The new design is almost complete, I only have to flesh out couple of details.

[2020-03-13 09:46] johnson544 commented on #39
Hi! Sry, I didn't express myself well.

 I got the backend piece working but struggle to attach my authorization header to all endpoint requests.

Basically, I am looking for a way to attach the token to wildcard to make all requests have that token as an Authorization header without having to manually attach it to every request in the action.

I haven't worked with RPC before. So it could be that

[2020-03-13 10:22] johnson544 commented on #38
Both would work for me. Of course second one is more comfy as you said :-)

Also agree that Wildcard should be slim!

My suggestion would be to add the `context._wildcard` property for now and keep the @wildcard-api/interceptor lib in the backlog

[2020-03-13 10:48] johnson544 commented on #10
I am excited about it!!

 I just replaced all graphql subscriptions with socket.io because it annoyed me too much. I feel they haven't really thought them through.

Whatever you come up with,  please also consider connecting / disconnecting listeners for channels on the server. It's so helpful to clean up sessions:

[code]

[2020-03-14 11:06] brillout commented on #38
Check out [Wildcard Intercept](https://github.com/brillout/wildcard-intercept). It supports `endpointName` ;-).

@lostpebble You may be interested in Wildcard Intercept. (As always feel free to never reply, I know you are busy:).)

That'd be lovely indeed!

[2020-03-14 11:16] brillout commented on #39
Wildcard doesn't have any utility to set cookies.

To process login and logout you should bypass Wildcard and use Express directly.

Or you can set cookies in the browser, which is what you are doing, but this is unusual and I'd stick to the more traditional approach of using Express directly, unless you have a good reason to deviate from the traditional approach.

Once the cookies are set you use

[2020-03-14 11:29] brillout commented on #39
Btw. I'm exploring ways for allowing Wildcard users to modify the context object in a protocol-agnostic and secure way.

[code]

What do you think?

[2020-03-14 14:55] johnson544 commented on #39
Ok, I only know the REST and GraphQl way with attaching the JWT token as an Authorization Header to each request.

Especially with SSR like Next.js / Nuxt.js; That is why I am sticking to JWT.

I can't think of any other solution dealing with authorizations but if you find one I am happy to test it out :-)

[2020-03-16 00:19] brillout commented on #39
I'll show you once I've implemented the new context design. I believe you'll love it ;-).

[2020-03-16 00:20] brillout commented on #39
Let me know if you are stuck btw. Your solution of setting the cookie on the browser side works for you now, correct?

[2020-03-16 08:21] johnson544 commented on #39
kind of. I am just sending the auth token as first parameter to all of my endpoints. It's a step backwards compared to REST/GraphQL, but it works for now.

Let's wait what you come up with. Still can't really imagine it :-D

[2020-03-21 16:47] brillout commented on #10
Designing error handling to be simple for server->client communication turns out to be difficult.

But I'm making progress :-).

Stay tuned! :)

[2020-03-21 16:48] brillout commented on #10
I am ;-)

[2020-04-02 16:45] johnson544 opened #46 "wildcard loads endpoints file from node_modules"
I found out that this is also true for files in **node_modules** folder. In my opinion this should be excluded. In fact I find it better if we can specify a path that wildcard should use for scanning.

What is your opinion about it ?

[2020-04-03 15:30] brillout commented on #46
That's unexpected and Wildcard ignores everything that is `.gitignore`'d.

Is `node_modules/` included in your `.gitignore` file?

[2020-04-03 18:31] johnson544 commented on #39
Hey @brillout ,

Following up on our twitter conversation I created this snippet. It's of course not production ready and also my first steps with React.. So please bare with me :-D

But I feel it shows what I am doing.

I am always sending the token as first argument to all my endpoints. Before running the endpoint on the server I call an intercepter to remove the token argument and forward the r

[2020-04-05 07:29] #38 closed

[2020-04-11 16:36] brillout commented on #39
I will have a look at it tmrw :)

[2020-04-12 10:47] lostpebble opened #47 "Mounting wildcard at a different url"
Hey Romuald :)

I've been really struggling with getting Wildcard to work at a different URL than the one that is default `/wildcard/*`

For one of my next apps, I need to mount the api at a sub-path on the server - so `/reports/_api/wildcard*`.

I've tried messing around with `serverUrl` on the client, and while I can tell it to use `http://localhost:8080/reports/_api/wildcard` - when that endpoi

[2020-04-13 07:15] brillout commented on #47
Salut Paul,

Yes, Wildcard doesn't currently support changing the base path.

Why is that?

I'd like to understand your use case before implementing a `basePath` option.

Happy Easter by the way :-).

I had to think about you and Vibescout lately, it must be a rough time for you guys :(

[2020-04-13 12:03] lostpebble commented on #47
Happy Easter :)

Well, in my case, I have two servers. One is my regular Vibescout app server, at `www.vibescout.com/*`

And I'm mounting a completely different Node.js server at `www.vibescout.com/reports/*` - which allows me to serve pages and develop a new "reporting" section which is completely different to the regular site. The way I've achieved this is with my GCP load balancer sending all t

[2020-04-13 20:19] brillout commented on #47
Implemented and published at `@wildcard-api/client@0.3.0` and `@wildcard-api/server@0.3.0`.

Docs: https://github.com/reframejs/wildcard-api#baseUrl.

If you are on an older version of Wildcard, you can see all breaking changes at https://github.com/reframejs/wildcard-api/releases.

I took the opportunity to change the default base URL from `/wildcard/` to`/_wildcard_api/`.

Since you'll have two

[2020-04-13 20:20] brillout commented on #39
I had a look at it and I'll reply tmrw ;-).

[2020-04-14 08:55] lostpebble commented on #47
Thanks @brillout ! Seems to be working perfect.

And especially thanks for making it as easy as setting `baseUrl` directly instead of `serverUrl` - really makes the configuration a lot easier because you don't need to account for which host to point it to `localhost:8080` or the live version `https://...`.

Cool, yea shouldn't be a problem, as the regular Vibescout app will point to `/_wildcard_ap

[2020-04-14 08:55] #47 closed

[2020-04-14 09:32] brillout commented on #47
Yes `serverUrl` and `baseUrl` have different uses case, it's prob better to separate their configuration.

Yes! And with some sweet potatoes :-).

[2020-04-14 09:33] brillout commented on #37
Feel free to re-open if this is still an issue and/or if you have questions :-).

[2020-04-14 09:33] #37 closed

[2020-04-14 18:15] brillout commented on #39
In general authorization cookies should be handled *only* by the server.

In your case it is only Express (or whatever server library Next.js uses) that should modify and read the cookie. You don't have to do this yourself and you can use a library instead, there are many Express auth libraries. Social login libraries usually handle this for you.

Do you really need SSR? If you don't need SSR then

[2020-04-19 19:05] brillout commented on #10
I've lowered the prio of this. But I'm still very much interested in implement this. If someone reading this needs it for a production app then let me know and I'll implement this.

[2020-05-14 07:04] #39 closed

[2020-05-26 15:45] lostpebble opened #48 "Getting some strange errors on deployment"
[code]

Hi Romuald, hope you're well :)

Just started getting some strange errors on a new deployment today. The strange thing is that these errors only started occurring after some time - and now even with a renewed deployment, they are still occurring. Its all very weird.

I'm investigating now, but just thought I'd drop this here in case you've ever seen something like this happening with Wildc

[2020-05-26 15:49] lostpebble commented on #48
I see you recently updated https://github.com/brillout/assert

So I'm thinking it could have something to do with a version mismatch, because `yarn` could be installing a different version on the deployment build side. I should throw my `yarn.lock` file in there as well to prevent such things...

[2020-05-26 15:50] brillout commented on #48
Hi Paul, I'm having a look. Yes it's most likely due to changes I did to @brillout/assert.

[2020-05-26 15:53] brillout commented on #48
I'm suspecting cycling dependency to be the cause. Does pinning @brillout/assert to `0.1.6` fix the issue?

[2020-05-26 15:55] brillout commented on #48
To temporarily pin you can `yarn add @brillout/assert@0.1.6` then manually replace the `0.1.7` version with the code of the `0.1.6` version in `node_modules/`.

I'm currently trying to reproduce this on my side.

[2020-05-26 15:57] lostpebble commented on #48
Cool, I'll try that now.

These errors are only happening on my deployment, so I'll need to re-deploy to check.

[2020-05-26 16:01] brillout commented on #48
I currently still can't reproduce this.

All Wildcard tests are passing with the latest `@brillout/assert` version `0.1.7`.

I'm further digging how to reproduce this.

Ok great, it could reduce the error search space to only couple of lines of changes.

[2020-05-26 16:12] brillout commented on #48
70% chance that I will publish a fix within the next 10 minutes.

[2020-05-26 16:15] lostpebble commented on #48
Ahhh... I think I may know what is causing the issue. And this is a big lesson perhaps about using `yarn.lock` for your cloud deployment builds...

Since I'm doing server rendering, and my code is built in two places, I have the frontend `bundle.js` which is obviously pre-built with webpack on my dev side, and then the server code `server.js` which just expects the node modules to be installed whe

[2020-05-26 16:21] brillout commented on #48
I could reproduce.

98% change that I will publish a fix within 5 minutes :-)

[2020-05-26 16:23] lostpebble commented on #48
Loving the live publishing stats! haha

Cool, I'm updating my deployment. It hasn't hardcoded any version, but my `bundle.js` has been built with the `0.1.7` version.. just to check. If that doesn't work then I'll add a hardcode of the version - or just wait for you fix which will actually come sooner.

[2020-05-26 16:27] brillout commented on #48
`rm yarn.lock && yarn` should fix this

[2020-05-26 16:28] lostpebble commented on #48
Yea, but that will also destroy all my other dependencies and their version targets. Its a very large `yarn.lock` file and I don't like to mess with it too much since I've run into headaches a lot before with version stuff.

[2020-05-26 16:32] brillout commented on #48
Ok then upgrade `@brillout/json-s` to `^0.1.1`. AFAIK you can simply change the `yarn.lock` line that tells what `@brillout/json-s` version is being used.

I'm also going to bump the wildcard-api version in a moment, if it's more convenient for you. I'll publish it after I finished writing the new unit test.

[2020-05-26 17:01] lostpebble commented on #48
Glad to report that after check-in my `yarn.lock` file with my deployment files, it is now working without issue.

There was never an issue with my `yarn.lock` file btw, as I couldn't reproduce the error in my development environment - so it was working as intended and installing older parts of the wildcard dependencies which didn't have any issues. Now that I've deployed my local `yarn.lock` file

[2020-05-26 17:37] brillout commented on #48
Going to eat something, I'm starving haha. I'll update Wildcard later tonight.

[2020-05-26 19:30] brillout commented on #48
Done.

Upgrading to the newly published Wildcard version `yarn add @wildcard-api/client@0.3.1 && yarn add @wildcard-api/server@0.3.1` will fix the problem.

I added an automated test to ensure this doesn't happen again.

Btw. I'll be in Paris for couple of days in July :)

[2020-05-26 19:30] #48 closed

[2020-05-26 21:53] lostpebble commented on #48
Great, thanks!

Cool, shoot me a message closer to the time and lets make a plan to grab a beer :)

[2020-06-07 10:41] michie1 opened #49 "Cannot find type declarations with typescript"
I try to use wildcard-api with typescript and `tsc` is erroring on a missing type declaration.

`import wildcard from "@wildcard-api/server/express";`

`Cannot find module '@wildcard-api/server/express' or its corresponding type declarations.`

Any ideas where I can find the types?

[2020-06-07 15:54] brillout commented on #49
Hi @michie1

Wildcard doesn't have type declaration; would using `any` be ok for you?

You can however type your endpoint functions, as described in https://github.com/reframejs/wildcard-api#typescript

[2020-06-07 19:00] michie1 commented on #49
Hello @brillout.

Thank you for the answer. I just wasn't sure I did something wrong or if they weren't there.
I've created a file `index.d.ts` with

[code]
in order to resolve the errors and that yields `any`s.

Sharing the types of the endpoints works wonderful. You can close this issue if you want.

[2020-06-07 20:52] brillout commented on #49
:+1: Let me know if there is anything else.

Rom

[2020-06-07 20:52] #49 closed

[2020-06-07 20:53] brillout opened #50 "Add types to options object"
For TypeScript users

[2020-07-19 20:14] michie1 commented on #39
I'm sharing a helper function via getContext that sets a cookie. What do you think of this approach? @brillout

[2020-07-20 19:01] brillout commented on #39
Hi @michie1,

Yes exactly, `getContext` is not meant to be used to manipulate the response.

Auth is usually done outside of Wildcard and is done by the server framework instead. For example:

[code]

You can then read the `Authorization` cookie in Wildcard's `getContext`.

I've plans to implement a new API `setContext` which I'll implement if the demand for it continuous to increase.

In the mean

[2020-07-21 19:32] michie1 opened #51 "[typescript] How to type the context?"
In the [authentication](https://github.com/reframejs/wildcard-api#authentication) example it's possible to extend the context, but `this` is not typed when `noImplicitThis` is set to true. `'this' implicitly has type 'any' because it does not have a type annotation`     "noImplicitThis".

It would be nice if this was automatically being done by using the type of the `getContext` function.

"Soluti

[2020-07-21 20:10] brillout commented on #51
How about this:

[code]

[code]

[2020-07-22 17:04] michie1 commented on #51
Sure, that works. Although not ideal because it's needs to be done for every usage. For me this is fine for now, but I think it would be a good discussion to improve this for a new api.

https://github.com/reframejs/wildcard-api/issues/39#issuecomment-599043728 Here you suggested to have a public `setPrivateKey` which can modify the context. Maybe we can have a public function `getContext()` as we

[2020-07-22 17:34] brillout commented on #51
Yea I know. A way to somewhat alleviate the problem is to wrap the most common usages in functions.

[code]

I agree that this not ergonomic and let me know when this becomes too cumbersome.

I agree.

Yes, I believe there is a way to make auth/context super simple.

[2020-07-22 17:47] brillout opened #52 "Lsos"
@lostpebble
@michie1

I started to use [@lsos/donation-reminder](https://github.com/Lsos/donation-reminder). This means you'll see a little donation-reminder in the browser dev console. You can remove it by running `yarn lsos remove`/`npx lsos remove`.

Let me know if this induces any inconvenience or if you feel disturbed by the donation-reminder in any way.

Rom :)

[2020-07-22 17:47] #52 closed

[2020-07-22 18:25] michie1 commented on #51
In Javascript this would be nicer, but in Typescript it will be an issue. This example will yield two errors:
1) `retrieveUser(this)` yields `Expected 0 arguments, but got 1.`. This could be solved by using `retrieveUser.call(this)`, although a bit cumbersome.
2) `retrieveUser(this)` yields also `'this' implicitly has type 'any' because it does not have a type annotation.`, which is also the error

[2020-07-23 07:46] Raynos opened #53 "Prior art"
This is a cool idea,

I used https://github.com/substack/dnode in the past to achieve this.

Have you looked at dnode ?

[2020-07-23 21:09] brillout commented on #53
Yes and dnode is not the only RPC implementation.

Wildcard aims to be simple whereas other solutions are convoluted and not ergonomic.

Let me know if there is anything you dislike about Wildcard and like about alternatives. I'm curious.

[2020-08-03 14:21] yosbelms commented on #34
That is the problem, you need to write a new endpoint for each front end needs. So, your endpoints will be organized by view use case, not by resources. So yes, there is an over-fetching problem.

Another well known is the N+1 queries.

Let's suppose you have an endpoint to retrieve a list of bank accounts, and another one to find a client by ID. I you need a view showing a list of account ID incl

[2020-08-04 10:12] brillout commented on #34
I'd agree with you if you need to minimize the number of endpoints, which makes sense in a scenario were the server can only be deployed every two months while the frontend is redeployed every day. In that case you shouldn't use Wildcard and you need a generic API such as REST or GraphQL.

But if you develop and deploy backend and frontend hand-in-hand, then you can go the opposite way: one endpoi

[2020-08-04 17:11] yosbelms commented on #34
@brillout Exactly, I got (I suppose) the Wildcard concepts quickly, but some developers interested in the project not yet. So, I think that docs can be more explicit in the way Wildcard in intended to be used, and highlight the approach differences with other client-server solutions out there, also some recipes, and how to avoid N+1 and over-fetching issues, achievable with Wildcard if we applying

[2020-08-04 18:53] brillout commented on #34
You are very right, what we just discussed has been a recurrent misunderstanding (and miscommunication on my part) about Wildcard (and RPC in general).

Adding educational material to elucidate the differences between RPC and APIs is very much something I'm interested in doing.

I've actually searched for an alternative name to "Wildcard API" in order to get rid of the "API" word. Ideas?

I'm curi

[2020-08-05 02:40] yosbelms commented on #34
I've been only assessing Wildcard, but I realized what is this project about and how it fits in the current library ecosystem.

About the naming I'm not good at it 🤣 BTW I'm the author of [Remote Func](/yosbelms/remote-func) which actually I think it deserves a better name.

PD: we are getting offtopic

[2020-08-05 16:26] brillout commented on #51
I´ll eventually add TypeScript to the source code and I'll then look into typing the Context.

[2020-08-05 16:42] brillout commented on #34
Interesting what you are doing with Remote Func. What was your motivation to write it?

I've been thinking about adding a Schema add-on to Wildcard for scenarios where the server is set in stone and/or there are many clients and only one server. With something I call "object-level permissions" to handle authorization. You'd then have the best of both worlds.

[2020-08-05 20:45] yosbelms commented on #34
- Performance.
- JS as the query language. As language, JS is more capable than GraphQL.
- Overcome GraphQL issues such as N+1 queries, query cost unpredictability, and a new language learning. It is like a comparison between NodeJS and PHP in the JS world.
- Client-server development decoupling. In practice, client side code evolves faster than server-side code, this is a breeze with Remote Func

[2020-08-22 02:27] gamedevsam opened #55 "Namespaced endpoints?"
Can you have namespaced endpoints with wildcard?

For example:

[code]

I know this is a bit semantics since you could have a `createUser` and `createPost` endpoints, but as the API surface grows being able to have namespaced routes becomes a valuable tool.

[2020-09-16 18:37] brillout opened #56 "Large companies to pay a small amount"
Hi,

I love working on Wildcard and I have a myriad of ideas for it, such as a new super-simple context management for easy authentication & authorization, a schema specification a la GraphQL but simpler with what I call "object-level permissions", cross-platform implementations, bi-directional realtime communication, etc.

Implementing all of it requires a lot of time but this could be something

[2020-09-17 10:25] lostpebble commented on #52
Hi @brillout

This message still seems to be showing in my production builds. I don't mind this during development, which is likely where it is most effective in getting a company to see it, but in production builds I purposefully remove all console logs except for those which are absolutely necessary.

Is there a way to stop this from happening without having to manually remove `lsos` ?

[2020-09-17 10:56] brillout commented on #52
Hello Paul,

See https://github.com/Lsos/donation-reminder#end-user-how-do-i-make-sure-the-donation-reminder-is-not-shown-in-tests-staging-and-production

The donation-reminder will never be shown at https://www.vibescout.com/ since `window.location.hostname!=='localhost'`.

Is that good enough for you? Or do you want to test your prod builds and you don't want to see the donation-reminder then?

[2020-09-17 12:53] lostpebble commented on #52
Okay, I see. That's generally fine, I don't mind it if it shows only when on localhost.

But according to the docs here:

I figured that because I bundle my code with `process.env.NODE_ENV = "production"` (basically any instance of that in my code is hard coded to `true` when building for production) that this would also cause this message to not show in the production bundle. Maybe I have to incl

[2020-09-24 09:34] lostpebble commented on #3
Hi Romuald

Running into this kind of cryptic error today.

[code]

I understand your logic behind handling and returning from errors to keep things simple. But please can you do a `console.error(error)` with the actual error object so we can get proper server logs with the stack and everything included? Its MUCH easier to dig through the code when the native error log takes care of the errors ins

[2020-09-24 11:20] brillout commented on #3
I'm looking at it now

[2020-09-24 11:23] brillout commented on #3
Wildcard does(/should) always show the original error. And actually the error you are seeing *is* the original error. The error comes from the Wildcard source code, not from your code. Seems to be a bug. Let me see if I can get more infos from the stack trace alone.

[2020-09-24 11:23] lostpebble commented on #3
So I managed to fix the error itself - its more that the error message was a bit cryptic and didn't help much, especially cause the stack isn't easy to find what's wrong.

I was trying to access `this.session` without actually having set up my session stuff on this project yet.

[2020-09-24 11:45] brillout commented on #3
I'm sorry about that and it's a bug on my part. I do care about nice error messages.

I'm writing a fix & unit test.

I'm not forgetting the donation-reminder thingy, I've just postponed writing a fix it but I do care that you can upgrade to the latest Wildcard version sooner rather than later.

[2020-09-24 11:45] lostpebble commented on #3
I get that, and for the most part its been fine, but it would be great if you could just `console.error(error)` that original error as well instead of just statically outputting a formatted error like you do at the moment. This allows my software to easily take me to the correct place in my code files, with source maps etc. as well just by clicking on the parts of the stack output - because that i

[2020-09-24 11:50] lostpebble commented on #3
Another important thing that I just realized that could cause overload of information - is that you seem to be logging multiple `console.error()` logs, as seen here in the code:

[code]

This could have the side-effect of causing my error tracking libraries to think each of those individual lines are something that needs to be logged and looked at. I think it could be better to just log a single e

[2020-09-24 12:07] brillout commented on #3
That's actually the case. Wildcard doesn't format errors originating from your code.

[code]
Then Wildcard `console.error` the original error `endpointError` without any modifications.

Wildcard only changes the format of its own errors. Is that a problem for you? Your software doesn't help much for errors originating from Wildcard source code I guess?

[2020-09-24 12:12] brillout commented on #3
About `console.error`: it's important that `Read the "Error Handling" documentation for how to handle errors.` is shown to `stderr` and not `stdout` (the user should not be able to miss that message).

I can replace all `console.error('')` with `console.log('')` and make sure there are only two `console.error` calls: one for the original error, and a second one for the message telling the user he

[2020-09-24 12:14] brillout commented on #3
Actually you are right `console.warn` is better than `console.error` for further information. I'll implement this.

[2020-09-24 12:23] lostpebble commented on #3
Oh, okay. I must have been mistaken then, just thought that I'd seen this formatted type error before like this and figured all of them were like that when something goes wrong inside an endpoint.

It's not a big problem if Wildcard changes the format of its own internal errors. Its a little unexpected to get a wall of text with that kind of formatting though.

Yea, that's fine. Why are you using

[2020-09-24 12:40] brillout commented on #3
There is a legacy reason why Wildcard formats its own errors but I don't think it's required anymore, I'll reevaluate this. And you're right I should and I will reduce chars and `console` calls to a minimum. Thanks!

[2020-09-25 14:25] brillout commented on #3
I'm in the middling of changing the prod architecture of the Lsos which has high prio. I will implement the Wildcard stuff after I'm done, ETA being this WE. (I'm quite excited about the new prod architecture, I'll tell you about it on our next Paris walk ;-).)

[2020-09-27 21:07] brillout commented on #3
tmrw

[2020-09-28 14:22] lostpebble commented on #3
Okay cool. Interested to hear what you have put together on the next walk :)

[2020-09-29 17:17] brillout commented on #3
Fixed in `@wildcard-api/server@0.3.2`. I added a test to ensure that passing `undefined` results in an empty context object instead of throwing.

Note that you can upgrade to `@wildcard-api/server@0.3.2` while pinning `@wildcard-api/client` to a version before the donation-reminder.

[2020-09-29 17:22] brillout opened #57 "Improve usage warning format"
As discussed with @lostpebble, usage warnings shouldn't have a custom format, but should be "classical" Nodejs exceptions.

Same for internal errors.

Also, all warning/error messages should be one-liners (albeit potentially very long one liners).

[2020-10-03 11:26] brillout commented on #57
:heavy_check_mark: Test infra is ready to assert `stdout` and `stderr`.
 :heavy_check_mark: `stdout` is tested - no `stdout` spam guaranteed.

Changing the format in itself will/should be easy.

[2020-10-05 07:05] brillout commented on #13
I'm going to change all status code to `500` for any failed request. With Wildcard, you shouldn't care about all the HTTP stuff, instead Wildcard should print an error with what went wrong and how to solve the problem.

Let me know if that poses any problem for you.

[2020-10-07 10:28] brillout commented on #55
Closing this but if someone wants this let me know. I'm open to implement what Samuel said:

[2020-10-07 10:28] #55 closed

[2020-10-07 10:30] brillout commented on #31
Closing this - I made many changes and this may be fixed by now.

[2020-10-07 10:30] #31 closed

[2020-10-07 10:30] brillout commented on #31
Let me know if you still run into problems.

[2020-10-07 11:22] brillout commented on #57
cc @lostpebble

:heavy_check_mark: Core is now TS typed.
:heavy_check_mark: Code is more readable/cleaner (still far from perfect, but better than before)
:heavy_check_mark: Redesigned some important aspects of error handling. It's simpler now.
:heavy_check_mark: Reworded all error/warning messages.
:heavy_check_mark: Wildcard will always return an HTTP response, never `throw`, and do a single `co

[2020-10-07 11:22] #57 closed

[2020-10-07 13:27] brillout commented on #53
These are great for cross-platform communication. Wildcard is basically RPC well-polished for browser-side <-> Node.js. Simpler and supports use cases that are unique to full-stack JS, such as TS and SSR.

[2020-10-07 13:28] brillout commented on #53
Let me know if you have any other question.

[2020-10-07 13:29] brillout commented on #57
Migration path: https://github.com/reframejs/wildcard-api/releases/tag/v0.4.0 - should remain the same after the GCE bugfix.

[2020-10-07 17:54] brillout commented on #51
I added TS types to the source code.

My latest attempt: https://github.com/reframejs/wildcard-api/commit/71e85f7ad173280abe46fd4850ef2dfbdba93ad2

I guess the goal here would be able to create a type that is both `Server` and `EndpointsWithContext`. But I'm not sure how to achieve that, I'm fairly new to TS.

(Note that `endpoints` are now named `server`, accommodating realtime bidrectional commu

[2020-10-11 14:00] michie1 commented on #51
I solved it locally by using a helper function:
[code]
and call it with `context(this).user` for example. I don't know how to change the library so we can omit this helper function.

[2020-10-11 15:04] brillout commented on #51
Neat that's clever.

Yes I'm thinking a lot about this but I can't find a solution so far.

The problem with something like this:

[code]

is how do you now export the type of `michieEndpoint`? The following doesn't work:

[code]

Doing something like this doesn't work in JS:

[code]

which, I guess, would otherwise lead to some kind of non-determinism.

So it boils down to either:
- `michieEndpoi

[2020-10-11 15:42] michie1 commented on #51
Just some brainstorming, I'm thinking how to omit using `this`:

A: Could it be possible to export a function getContext() from the library which can be used in the function declaration? On the server we might need to call `const wc = wildcard.init<Context>();` When the function is called on the client side it's connected to request (e.g. Express) middle ware.

B: On the frontend we write a wrappe

[2020-10-11 19:59] brillout commented on #51
A: Imagine two requests to `michieEndpoint`. Now imagine `michieEndpoint` is asynchronous &mdash; there are two Express `req` objects; how do you know which to provide to each of the two `getContext` call? I'm not sure this is possible.

B: Interesting... I was focused on `this` because I kinda liked it but you're right it doesn't have to be `this`, which would seem to make things easier.

[code]

[2020-10-12 12:41] brillout commented on #57
@lostpebble

Some new little breaking changes: https://github.com/reframejs/wildcard-api/releases/tag/v0.5.0

Note the `argumentsAlwaysInHttpBody` rename to `shortUrl`.

I will publish a GCE bugfix in `0.5.1` soon

[2020-10-13 14:54] michie1 commented on #51
I was re-reading the issue and saw one of my first "solutions".

This solution in combination with `FooMinusContext` applied to each function would work as well I think. I'll try to make that type. If it works correctly the only thing the library needs to do is exporting that type. It won't be a breaking change.

[2020-10-14 08:49] brillout commented on #50
Done

[2020-10-14 08:49] #50 closed

[2020-10-14 14:56] brillout opened #59 "Simple authentication (managed context)"
The idea is to allow the server to modify the context:

[code]

This could be called "managed context", and it would enable simple authentication.

Full example:
[code]

[code]

[2020-10-14 20:10] brillout opened #60 "New query language"
This would be a new project entirely independent but compatible with Wildcard.

This is ambitious and I'm not sure if/when I'll finish this.

In case you ask yourself why this is necessary in the context of Wildcard: it's basically for large scale applications that need to decouple the development of several frontends from the backend development. For most users, Wildcard alone is enough.

A previ

[2020-10-14 20:50] brillout opened #61 "Real-time/bi-directional communication (Wildcard callbacks)"
The idea is to allow the client to pass a callback to the server:

[code]

[code]

This enables all kinds of bi-directional communications, for example real-time chat, real-time gaming, live subscriptions, etc.

Proposed name: Wildcard callbacks.

The lifecycle can be managed thanks to two `_onClose` functions provided by Wildcard, as described in the following example.

## Example - Live chat

[c

[2020-10-14 21:30] brillout commented on #10
Closing in favor of https://github.com/reframejs/wildcard-api/issues/61.

It's a design based on the callbacks idea described here, but with the addition of two `_onClose` lifecycle functions which should allow for simple lifecycle management.

[2020-10-14 21:30] #10 closed

[2020-10-14 21:31] brillout commented on #39
Some news about this at https://github.com/reframejs/wildcard-api/issues/59.

[2020-10-14 21:35] brillout commented on #59
@Johnson444 We can implement this together, if that's something you'd be interested in doing. I've cleaned up the source code, it's now all TypeScript, and test coverage is close to 100% which makes developing super comfy.

[2020-10-14 21:36] brillout commented on #34
Closing in favor of https://github.com/reframejs/wildcard-api/issues/61.

[2020-10-14 21:36] #34 closed

[2020-10-15 07:31] brillout opened #62 "Rename to "telefunc""
Telefunc as in tele-vision.

Slogan:

In the docs, we can speak about "telefunctions", "telecallbacks" (#61).

cc @yosbelms

[2020-10-18 19:46] #51 closed

[2020-10-18 19:51] brillout opened #63 "Add contributors section in readme.md"
To showcase contributors such as @michie1.

Also to showcase the ones who participated in brainstorming.

[2020-10-20 04:39] mrluaf opened #64 "I have compiled the wildcard using bytenode but when running it gets "is an arrow function""
./vcb_modules/controller.js
`server['laysaoke'] =  async function (data) {
    return new Promise(async function(resolve, reject) {
        try {
             .....
        } catch (err) {
             .....
        }
    });
}`

./main.js
`require('./vcb_modules/controller');`

[2020-10-20 08:17] brillout commented on #64
Hello Lua,

- does bytenode transform your function into an arrow function?
- What `@wildcard-api/sever` version are you using?

Note these relevant changes made between `wildcard-api@server@0.5.1` and  `wildcard-api@server@0.5.2`: https://github.com/reframejs/wildcard-api/commit/80c00cabefc9eda180454cf2214c791d0959c785

Pinning between `0.5.1` and `0.5.2` may solve your problem in the meantime.

[2020-10-22 11:08] brillout commented on #64
Let me know if you are still running into this issue. Happy to help.

[2020-10-22 11:08] #64 closed

[2020-10-23 17:00] michie1 commented on #59
https://github.com/reframejs/wildcard-api/pull/58#issuecomment-711412477

I'm only using it in a small inactive pet project, but yes. Besides putting data in the context from Express, I'm also putting functions it in. It works fine. I think it's nicer to assign the those functions to the context than to the `server` object. If you read the code you would think the functions are provided by the lib

[2020-10-23 18:25] brillout commented on #59
The plan is to actually integrate this with an interface that could eventually become a public API. For now the interface would be private but you're right maybe it should be exposed right at the beginning.

[2020-10-26 09:42] brillout commented on #59
Interesting. So basically you prefer to define server endpoints dynamically on each API request, is that correct? Personally, I find it simpler to reason about static functions + a context object. But maybe you are seeing something I'm not seeing.

[2020-10-26 14:02] michie1 commented on #59
No, with "those" functions I don't mean the endpoint functions, but the helper functions to interact with Express, like `setCookies()` or `getHeaders()`.

[2020-10-27 13:00] brillout commented on #59
The `getApiHttpResponse()` function could be used to control the context:

[code]

This gives full control over to the user.

@michie1 Would that work for you?

Why? Are you using an Express middleware that does this for you?

[2020-10-29 18:13] michie1 commented on #59
Different applications need different types of authentication. I think it's better if Wildcard is providing an authentication option (as a plugin) and not enforcing anything. I'm using my own Express middleware function that puts helper functions in the context object.

[2020-10-29 19:24] brillout commented on #59
Wildcard Sessions will be optional and you'll have more control over the context/auth than what currently is the case.

Can you imagine yourself removing your custom Express middleware and use Wildcard Sessions instead? If not, why not? You said you prefer to handle these things yourself and I'm left to wonder why :-).

[2020-10-29 19:58] michie1 commented on #59
Cool.

Well, I might use it for simple applications, but like I said, different applications need different type of authentication. Maybe I don't want to use a password for authentication, but I want have an login link send by email, use 2FA or SSO. It's difficult to compare wildcard sessions that is not there yet versus all the other existing options.

[2020-10-29 21:38] brillout commented on #59
Wildcard Sessions only does session management; you can use it with any auth strategy:

[code]

Instead of dealing with cookies you simply deal with reading/writing the context object.

[2020-11-12 14:05] brillout commented on #3
@lostpebble

I just published `@wildcard-api/client@0.5.3` and `@wildcard-api/server@0.5.3` which:
 - Includes the improved error messages I mentioned previously.
 - Removes the donation-reminder.

It does however include the `lsos` package (https://github.com/Lsos/lsos-js) which as well does have a postinstall script but it timeouts command calls and will `process.exit()` and let you know what co

[2020-12-07 20:15] brillout commented on #3
@lostpebble

I'm going to add a `setErrorHandler` interface.

[code]

Allowing to do all kinds of things.

[code]
[code]
[code]

Let me me know if you object on anything.

Hope everything's good on your side.

[2020-12-23 12:49] brillout commented on #62
This is mostly done, I just need to polish a couple of things.

[2021-01-05 23:05] DominikSerafin commented on #24
Does this mean that FormData is not supported at all by wildcard? Do you plan supporting it in future?

[2021-01-05 23:44] brillout commented on #24
Hi @DominikSerafin,

Not yet, but I'm open to support it.

What is your use case and tech stack?

[2021-01-06 15:17] DominikSerafin commented on #24
@brillout usually I use Express with React.

As for use case, I was actually thinking about completely replacing Express with Wildcard (in production) for one of my upcoming projects (that will feature various file uploads ranging from tiny to huge).

Unfortunately, lack of support for FormData blocks me in doing that, as using two frameworks at the same time adds unnecessary complexity, so for me

[2021-01-06 19:47] brillout commented on #24
The plan regarding file uploads is:

[code]

[code]

With stream as well as disk mode.

Behind the curtain, Wildcard will use https://github.com/mscdex/busboy which AFAIK is the fastest multipart parser out there and is the one used by Fastify. Also, Wildcard's archticture is designed so that HTTP related libraries are easy to switch out, so that whatever faster multipart comes next, it is going t

[2021-01-07 00:00] DominikSerafin commented on #24
@brillout great to hear :)!

As for file uploads - I think your solution looks great when it comes to reading chunks of file.

However, I wonder if there could be also an additional (optional & behind some setting?) solution where Wildcard could just automatically detect any passed `File` objects and then just transport them behind the scenes via multipart/form-data and then invoke the server meth

[2021-01-07 12:09] brillout commented on #24
I agree:
 - By default, files should be awaited for and loaded to memory before Wildcard invokes the endpoint function. No need to `await`, so basically what you proposed.
 - Default file upload limit of 20 MB; new error flag `fileUploadSizeLimitExceeded` to the Wildcard client error object.
 - Global option:
[code]
 - Endpoint option:
[code]
 - Disk mode:
[code]

[2021-01-07 12:50] brillout commented on #24
@DominikSerafin is there anything else you'd want?

[2021-01-17 14:47] brillout commented on #24
@DominikSerafin I guess you're not interested anymore (that's fine). I'm deprioritizing this.

If someone is reading and interested in this, let me know and I'll implement it.

[2021-01-21 23:16] DominikSerafin commented on #24
@brillout I had to focus on something else, and I couldn't give a fast reply here, but I'm still interested in wildcard supporting file uploads 💯.

The only remaining feedback I've got is that it's pretty great that my proposal would be a default way how wildcard handles files, but it's also important for me that there is a way to read chunks when you need that. Other than that I think your plan l

[2021-01-22 08:51] brillout commented on #24
@DominikSerafin 👍 I'll start implementing file uploads in about a week.

Stream mode:

[code]

[2021-01-30 10:20] brillout commented on #24
Started working on this. The interface will be slightly different. (With several advantages, mostly around TypeScript integration, but also extra flexibility of being able to decide file upload strategy at request-time.)

[code]

[2021-02-05 01:36] ggoodman commented on #59
I would suggest that if you're looking to check the authenticity of the cookie, a library like https://npm.im/@hapi/iron is the gold standard for this sort of thing. I see that my colleagues at Auth0 reach for this library for similar uses-cases.

[2021-02-05 11:41] brillout commented on #59
Thanks for the pointer. Wildcard [is using HMAC-SHA256](https://github.com/brillout/wildcard-api/blob/b7ca05799dcfc05e4f2c1a4e1a758a72e56224c9/src/context/server/cookie-management.ts#L143-L151) which is old, battle-tested, and assailed against by researchers. So we should be good here.

[2021-02-16 12:34] brillout commented on #24
Pardon me the delay; I've been working on https://github.com/brillout/vite-plugin-ssr which is fairly high prio since I'm aimaing at shipping the first SSR tool built on top of Vite.

(In case you're curious to see the new Telefunc logo: https://github.com/brillout/wildcard-api/tree/renaming#readme.)

[2021-03-10 21:57] rjkz808 commented on #51
`wildcard-api` is awesome but just wanted to clarify - is plan B still relevant? IMO it's better to avoid JS dynamic `this` whenever it's possible, so it seems to me that B is actually a good solution. @brillout what do you think about it?

[2021-03-10 21:59] rjkz808 commented on #51
btw it'll also resolve issues related to arrow functions, there's a lot of devs who prefer arrows over function declarations.

[2021-03-11 09:25] brillout commented on #51
@rjkz808 Yes, there is a new version major coming.

[code]

Telefunc doesn't return a type for `useContext()` so that the user can type it globally once.

[2021-03-11 09:37] rjkz808 commented on #51
@brillout that's nice, but as I see by the semantics of `useContext`, it'll be required to call it at the top level of the function before any asynchronous operations to prevent using the context of another request. Am I correct?

[2021-03-11 09:49] brillout commented on #51
That is correct. (Although the current implementation uses async hooks so that the user can use `useContext()` everywhere, but this needs to be optional because not every platform supports async hooks, e.g. CF workers and Deno.)

Do you have alternative ideas in mind?

[2021-03-11 10:22] brillout commented on #51
Solution B requires the user to type cast between (tele)function definition and (tele)function consumption, whereas with `useContext` the user doesn't have to cast anything which I find quite neat.

[2021-04-20 06:49] xgenvn commented on #24
Personally, we should detach from the main API for file uploads using the `signed URL uploading` approach. In previous projects, integrate file uploading into Express seems not good in terms of scale and performant, and 90% of file uploading requirements are to integrate with the 3rd blob storage services. So I think it's the `form-data` support instead of the explicit `file uploading` feature.

[2021-04-20 07:09] brillout commented on #24
Can you elaborate?

I'm thinking of plugins for things like GraphQL but also for third-party file uploads.

The plugins are built directly on top of HTML and expose a user interface in an Wildcard idiosyncratic way.

[code]

(@DominikSerafin Expect further delayed but [vite-plugin-ssr](https://github.com/brillout/vite-plugin-ssr) is becoming more and more stable and requires less and less work; I'

[2021-04-20 07:56] xgenvn commented on #24
We did use `busboy` to handle uploads but the requests body was an issue while running on some gateways/serverless service.
For scale, my previous project also needs to scale only the upload API, not the whole API, so it's also a common issue if someone is going to do a microservice.

[2021-04-20 08:02] xgenvn commented on #24
@brillout for the plugins, I think we don't need to bind too closely with the frontend, the interface to config the signed URL is good though, but that depends on requirements and easily done with the current version of wildcard-api.

No strong opinion here, it's my thought that we don't want something sophisticated but not practical (I also understand that people want to serve uploads API through

[2021-04-21 06:53] brillout commented on #24
@xgenvn 👍 I will take this in consideration. Also, note that Wildcard is only a middleware: you don't have to use Wildcard for everything, and you can use your custom HTTP handling instead of using Wildcard when you need something specific that Wildcard doesn't do.

[2021-05-12 13:50] RyanCargan opened #65 "endpoints.js not recognized when API and client are on different servers"
Hi, I'm currently trying to run wildcard on a two server setup and I've had no issues so far (just had to enable cors as an extra step on the backend), except that I can't seem to setup endpoints.js or *.endpoints.js files to be automatically recognized by wildcard.

From the description in the main README I assumed I could just put it next to my index.js/server.js main file on the backend and it

[2021-05-12 13:55] brillout commented on #65
Yes you can `require()` the endpoints files instead.

Let me know if that works for you.

[2021-05-12 14:19] RyanCargan commented on #65
Thanks for the quick response!

I wanted check if that could cause any issues partly because I'm getting strange CPU spikes on my performance monitor with Chrome right after the client makes a call and got some browser crashes while testing with the React frontend that seemed to run fine before.

I don't know for sure whether that's connected to this (more likely a mess-up on my part). I probably

[2021-05-12 14:19] #65 closed

[2021-05-12 14:22] brillout commented on #65
Yes exactly, it only searches for endpoint files and then `require()`s them.

Let me know if you have any reproduction; I'm happy to have a closer look.

[2021-05-12 15:35] RyanCargan commented on #65
Just letting you know that last performance issue I mentioned waa resolved (it was React-related) after making sure the client only called after a manual request or on a timer inside a useEffect hook.

No issues with the library for now. It works great. It even works if I need quick & dirty auto-refreshing data on a page but I'm guessing sockets of some sort are a better idea if I need continuous

[2021-05-12 20:55] brillout commented on #65
Thanks for the update :-).

[2022-02-11 12:03] cloudcompute opened #67 "Wilcard current status"
Hi

I have a few questions. Would you pl. reply?

a. Wildcard is not maintained any longer. Can we still use it in production?

b. This package is not published on npm. Any specific reason?

c. There is a wildcard equivalent, namely, trpc. Here is the link: https://github.com/trpc/trpc/
Could you pl. give your opinion what shall we we use? I am looking forward to use Fastify in the backend and Rea

[2022-02-11 12:05] brillout commented on #67
Use [Telefunc](https://telefunc.com/).

[2022-02-11 12:07] ramandhingra commented on #67
Is telefunc production ready? Could you pl. tell what makes it superior than others?

[2022-02-11 15:00] ramandhingra commented on #67
Thank you so much for offering the support like a professional within 24 hours for an open source project.

a. I do not want to use Zod to define the telefunction arguments. I am simply looking for validations like date, number: min-max, sting matching, regular expression matching for strong passwords, a value must be one among the following types.. enum

i. Not only zod, the developer should be a

[2022-02-11 15:08] ramandhingra commented on #67
Thank you so much for offering the support like a professional within 24 hours for an open source project.

a. I do not want to use Zod to define the telefunction arguments. I am simply looking for validations like date, number: min-max, sting matching, regular expression matching for strong passwords, a value must be one among the following types.. enum

i. Not only zod, the developer should be a

[2022-02-14 09:40] ramandhingra commented on #67
This syntax is better than the previous one. I'll read the documentation.

Thanks

[2022-02-14 09:47] brillout commented on #67
Feel free to further ask questions after you're more familiar with Telefunc's way of doing things.

[2022-02-17 16:11] brillout commented on #67
Actually, we could make it work.

I'm working on other things right now, but if you'd be up to contribute we can start implementing it.

[2022-02-19 13:11] Jims55jr opened #68 ""HELLO""

[2022-02-19 13:13] #68 closed

[2022-02-25 17:05] Jims55jr commented on #68
Helloworld

[2022-02-25 17:37] cloudcompute commented on #67
I could not get back to you earlier. For now, I decided not to use the RPC in my current project. I am sorry I won't be able to devote time as I quite busy with the new project.

This [link](https://github.com/qiwi/json-rpc/blob/fbd5890edebd7d511743490b48c2109bd9d409f3/packages/p3/src/main/ts/common/decorators/class.ts) may give you some leads if you want to implement it.

[2022-02-25 17:37] #67 closed, assigned to nobody